.Search{
    z-index: 50;
}
.inputSearch{
    border: none;
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    margin-left:80%;
    margin-top: 20px;
    height: 3rem;
}
.botonSearch{
    border: none;
    text-shadow: 10rem;
    height: 3rem;
    margin-left: 10px;
}